<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
</head>
<body>

    <h1>user page</h1>
    <form action="/user" method="post" enctype="multipart/form-data">
        <input type="file" id="myFile" name="filename">
        <input type="submit" value="send">
      </form>

    <% if(videos.length != 0){ %>
        <form action="/user/video" method="post">
            <% videos.forEach( (v,i) =>{ %>
                <input type="submit" name="<%= v %>" value="video <%= i+1 %>">
            <% }) %>

        </form>
    
    <% } %>

      <form action="/user?_method=DELETE" method="post">
        <input type="submit" value="log out">
      </form>
</body>
</html>